.drawers
  box-shadow 0 2px 5px rgba(0,0,0,.26)

.drawer-label
  padding 0 1em

  line-height 2.5em

  background  $color-400
  color       #fff

  cursor      pointer

  .active &
    background  $color-700

.drawer-explanation
  line-height 2.5em

.drawer-body
  padding 0 1em

  max-height 0

  overflow hidden

  background  #fff

  transition max-height .2s

  .active &
    max-height 400px
