.drawer-label
  padding 0 1em

  line-height 2.5em

  background  green
  color       #fff

  cursor      pointer

.drawer-explanation
  line-height 2.5em

.drawer-body
  padding 0 1em

  max-height 0

  overflow hidden

  background  #fff

  .active &
    max-height 400px
