input[type="radio"]
  display        inline-block
  vertical-align middle
  border         none
  background     none

  width      1em
  height     1em

  margin-right .25em

  appearance none

  &:focus
    outline 0

  &::before
    content    " "
    display    inline-block

    height     1em
    width      1em

    margin-right .25em

    border     0.2em solid $gray
    border-radius 50%

    background transparent

  &:checked::before
    background $color-200
    border-color $color-600

  &:focus::before
    border-color $color-A700

.radio,
.checkbox
  display        block
  min-height     20px
  margin-top     10px
  margin-bottom  10px

  label
    display        inline
    font-weight    normal
    cursor         pointer

.radio + .radio,
.checkbox + .checkbox
  margin-top -5px
