<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recycle</title>
  <link rel="stylesheet" href="/css/secondary.css">
  <link rel="stylesheet" href="/css/critical.css">
</head>
<body>

  <nav class="navbar" role="nav">
    <a href="/#!/" class="navbar-brand">RecycleChi</a>
  </nav>

  <div class="container">
    <h1>RecycleChi</h1>

    <p>All about recycling in Chicago</p>

    <div class="drawers" ng-controller="DrawerCtrl">
      <div class="drawer"
        ng-repeat="drawer in drawers"
        ng-class="{active: drawer.active}">
        <div class="drawer-label" ng-click="drawer.active=!drawer.active">{{drawer.label}}</div>
        <div class="drawer-body">
          <div class="drawer-explanation">{{drawer.explanation}}</div>
          <div class="radio" ng-repeat="option in drawer.options">
            <label>
              <input type="radio" name="{{drawer.name}}" value="{{option.value}}"> {{option.label}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script async data-main="/js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
</body>
</html>
